<form #login="ngForm" (ngSubmit)="loginData(login)" role="form">
  <div class="form-group">
    <input type="text" name="username" ngModel tabindex="1" class="form-control" placeholder="Username" value="">
  </div>
  <div class="form-group">
    <input type="password" name="password" ngModel tabindex="2" class="form-control" placeholder="Password">
  </div>
  <!-- <div class="form-group text-center">
    <input type="checkbox" tabindex="3" class="" name="remember" ngModel>
    <label for="remember"> Remember Me</label>
  </div> -->
  <span>{{msg}}</span>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <input type="submit" tabindex="4" class="form-control btn btn-default" value="Log In">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
</form>