<form role="form"  #register="ngForm" (ngSubmit)="registerForm(register)">
  <div class="form-group">
    <input type="text" name="username" ngModel #username="ngModel" minlength="5" maxlength="15"  tabindex="1" class="form-control" placeholder="Username" value="" required>
    <div class="alert alert-danger" *ngIf="username.touched && username.invalid">
      <div *ngIf="username.errors.required">Username is Required</div>
      <div *ngIf="username.errors.minlength">Minimum length 5 is required</div>
      <div *ngIf="username.errors.pattern">Username Pattern does not match</div>
    </div>
  </div>
  <div class="form-group">
    <input type="email" name="email" ngModel #email="ngModel" tabindex="1" class="form-control" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" placeholder="Email Address" required>
    <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
        <div *ngIf="email.errors.required">Email is Required</div>
        <div *ngIf="email.errors.pattern">Email Pattern does not match</div>
      </div>
  </div>
  <!-- /*Password validation*/ -->
  
  <div class="form-group">
    <input type="text" name="password" #password="ngModel" [(ngModel)]="password1" pattern="confirmPassword1" tabindex="2" class="form-control" placeholder="Password" required>
    <span class="help-block" *ngIf="password.touched && password.errors?.required">Password is required</span>
  </div>
  <div class="form-group">
    <input type="text" name="confirm-password" #confirmPassword="ngModel" [(ngModel)]="confirmPassword1" pattern="password1" appConfirmEqualValidator="password" tabindex="2" class="form-control" placeholder="Confirm Password" required>
    <!-- <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">Confirm Password is required</span> -->
    <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
        <div *ngIf="confirmPassword.errors.required">Confirm passowrd is required</div>
      <div *ngIf="password1 !== confirmPassword1">Password does not match</div>
    </div>
  </div>


  <div class="form-group">
      <input type="text" name="phone" #phone="ngModel" ngModel minlength="10" tabindex="2" class="form-control" placeholder="Phone Number" required>
      <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
          <div *ngIf="phone.errors.required">Phone Number is required.</div>
          <div *ngIf="phone.errors.minlength">Phone Number must be 10 characters long.</div>
          <div *ngIf="phone.errors.pattern">Username Pattern does not match</div>
        </div>
  </div>

   
  <div class="form-group">
      <select class="form-control"  [ngModel]="myCountry" name="country" #country="ngModel" tabindex="1" placeholder="Country">
        <option *ngFor="let country of countries">{{country}}</option>
      </select>
  </div>
  <div class="form-group">
      <select class="form-control"  [ngModel]="myState" name="state" #state="ngModel" tabindex="1" placeholder="State">
        <option *ngFor="let state of states">{{state}}</option>
      </select>
  </div>
  <div class="form-group">
      <select class="form-control" [ngModel]="myCity" name="city" #city="ngModel" tabindex="1" placeholder="City">
        <option *ngFor="let city of cities">{{city}}</option>
      </select>
  </div>
  <div class="form-group">
      <textarea class="form-control" ngModel #address="ngModel" minlength="10" name="Address" rows="5" placeholder="Enter Address here"></textarea>
      <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
          <div *ngIf="address.errors.required">Address is required.</div>
          <div *ngIf="address.errors.minlength">Address needs minimum length</div>
      </div>  
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <input type="submit" tabindex="4" class="form-control btn btn-default" value="Register Now">
      </div>
    </div>
  </div>
</form>

<!-- Angular validation : {{register.value | json}} -->